[Unit]
Description=The Apache HTTP Server (Instance %I)
After=network.target nss-lookup.target
ConditionPathIsDirectory=/usr/local/www/%I/config/apache/

[Service]
Type=forking
ExecStart=/usr/sbin/apachectl -f /usr/local/www/%I/config/apache/httpd.conf -k start
ExecStop=/usr/sbin/apachectl -f /usr/local/www/%I/config/apache/httpd.conf -k stop
ExecReload=/usr/sbin/apachectl -f /usr/local/www/%I/config/apache/httpd.conf -k graceful
PrivateTmp=true
Restart=on-abort

[Install]
WantedBy=multi-user.target
